@import "reset.css";
@import "font.scss";

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    align-items: center;

    &--burger{
        padding-left: 15px;
        &--img{
            width: 25px;
            height: 25px;
        }
    }

    &--logo{
        height: 80%;

        &--img{
            height: 100%
        }
    }

    &--cart{
        padding-right: 15px;

        &--img{
            width: 25px;
            height: 25px;
        }
    }

}

.nav{
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: absolute;
    background-color: white;
    
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
    
    width: 70vw;
    max-width: 500px;
    height: 100%;
    margin-top: -50px; 
    filter: drop-shadow(0 0 0.75rem black);

    &--link{
        font-family: "ITC Franklin Gothic Std Book Condensed", "sans-serif";
        color: black;
        text-decoration: none;
        font-size: 16px;
        padding: 20px 0 20px 0;
        border-bottom: 0.01px rgb(218, 218, 218) solid;
        padding-left: 15px
    }
    
    &--close-button{
        position: absolute;
        z-index: 1;
        top: 15px;
        left: calc(70vw + 5px);
        width: 30px;
    }

    &--close{
        width: 20%;
        margin:auto;

        &--img{
            width: 75%;
        }
    }

    &--hidden{
        display: none;
    }

    &--logo{
        &--container{
            display: flex;
            flex-direction: row;
            padding: 15px 0 15px 15px;
            border-bottom: 0.01px rgb(218, 218, 218) solid;
        }
        &--logo-container{
            width: 70%;
            margin:auto;
        }

        &--img{
            width: 100%;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .header{
        justify-content: space-around;
        height: 75px;

        &--burger{
            padding-left: 0;

            &--img{
                width: 35px;
                height: 35px;
            }
        }
        &--burger:hover{
            cursor: pointer;
        }

        &--logo:hover{
            cursor: pointer;
        }

        &--cart{
            padding-right: 0;

            &--img{
                width: 35px;
                height: 35px;
            }
        }
        &--cart:hover{
            cursor: pointer;
        }
    }

    .nav{
        margin-top: -75px;

        &--close{
            cursor: pointer;
        }
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}