.pointer{
    cursor: pointer;
}

.text-white{
    color: white;
}

.text-black{
    color:black;
}

.textsize{
    font-size: 16px;
}

.text-align-center{
    text-align: center;
}

.nodecoration{
    text-decoration: none;
}

.flex{
    display: flex;
}

.h-center{
    justify-content: center;
}

.column{
    flex-direction: column;
}

.row{
    flex-direction: row;
}

.m-auto{
    margin: auto;
}

.m-50{
    margin: 50px;
}

.mt-50{
    margin-top: 50px;
}

.max-width-100{
    max-width: 100%;
}

.width-100{
    width: 100%
}

.m-10{
    margin: 10px;
}

.bold{
    font-weight: bold;
}